<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staysafe">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/lock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lock"
        android:supportsRtl="true"
        android:theme="@style/Theme.Staysafe">
        <activity
            android:theme="@style/splashScreen"
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/Theme.Staysafe"
            android:name=".barra_nav"
            android:exported="true">
        </activity>

        <activity
            android:theme="@style/Theme.Staysafe"
            android:name=".ejemplo"
            android:exported="true">
        </activity>

        <activity
            android:theme="@style/Theme.Staysafe"
            android:name=".registro"
            android:exported="true">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>